{% extends 'base.html' %}

{% block css %} 
<link rel="stylesheet" href="{{ url_for('static', filename= 'css/gen.css') }}"> 
{% endblock %}

{% block head %} <title>Generacion</title> {% endblock %}

{% block body %}
    <h1><span>Generation</span></h1>
{% endblock %}

{% block table %}
    {% for table in tables %}
        {{ table|safe }}
    {% endfor %}
{%  endblock  %}

{% block link %}
<a href = "/download">CLICK ME!</a>
{% endblock %}

{% block script %}
<script type="text/javascript" src="{{ url_for('static', filename='script/gen.js') }}"></script>
{% endblock %}
